## **Python Essencial para Data Science**
**Prof. Dr. Samuel Martins (@hisamuka @xavecoding)** <br/>
xavecoding: https://youtube.com/c/xavecoding <br/><br/>

<a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/4.0/88x31.png" /></a><br />This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License</a>.

## Tuplas
Tuplas são estruturas muito semelhantes às listas. Elas diferem de duas maneiras:

1. Elas usam _parênteses_ ao invés de _colchetes_:

In [1]:
tupla_1 = (1, 2, 3)
tupla_1

(1, 2, 3)

In [5]:
print(type(tupla_1))

<class 'tuple'>

In [6]:
tupla_2 = 1, 2, 3
print(tupla_2)
print(type(tupla_2))

(1, 2, 3)
<class 'tuple'>

In [17]:
# Relembrando atribuição múltipla
x, y, z = 1, 2, 3
print(x)
print(y)
print(z)

1
2
3

In [16]:
# Desempacota os elementos da tupla_1 nas variáveis a, b e c
a, b, c = tupla_1
print(a)
print(b)
print(c)

1
2
3

2. Elas **não** podem ser modificadas (**imutáveis**)

In [27]:
tupla_1

(1, 2, 3)

In [28]:
tupla_1[0] = 5

TypeError: 'tuple' object does not support item assignment

#### Convertendo uma lista em tuplas e vice-versa

In [29]:
nomes = ['Manoel', 'Francisco', 'Marcela', 'Carmelina', 'Suzete']
print(nomes)
print(type(nomes))

['Manoel', 'Francisco', 'Marcela', 'Carmelina', 'Suzete']
<class 'list'>

In [36]:
# Converte lista --> tupla
nomes_tupla = tuple(nomes)
print(nomes_tupla)
print(type(nomes_tupla))

('MANOEL', 'Francisco', 'Marcela', 'Carmelina', 'Suzete')
<class 'tuple'>

In [35]:
nomes[0] = nomes[0].upper()
print(nomes)
print(nomes_tupla)

['MANOEL', 'Francisco', 'Marcela', 'Carmelina', 'Suzete']
('Manoel', 'Francisco', 'Marcela', 'Carmelina', 'Suzete')

In [38]:
# Converte tupla --> lista
lista_1 = list(tupla_1)
print(tupla_1)
print(lista_1)

(1, 2, 3)
[1, 2, 3]

### Descompactando tuplas

In [44]:
notas_semestre = (5.0, 10, 2)

prova_1, prova_2, projeto = notas_semestre

print(notas_semestre)
print(prova_1)
print(prova_2)
print(projeto)

prova_1 += 1

print(notas_semestre)
print(prova_1)
print(prova_2)
print(projeto)

(5.0, 10, 2)
5.0
10
2
(5.0, 10, 2)
6.0
10
2

### Zip: Compactando listas

In [67]:
carros = ['Opala', 'Santana', 'Buick']
precos = [7000, 9000, 16000]

print(carros)
print(precos)

['Opala', 'Santana', 'Buick']
[7000, 9000, 16000]

In [82]:
carros_precos_zip = zip(carros, precos)
carros_precos_zip

In [83]:
carros_precos = list(carros_precos_zip)
carros_precos

[('Opala', 7000), ('Santana', 9000), ('Buick', 16000)]

In [84]:
for x in carros_precos:
    print(x)

('Opala', 7000)
('Santana', 9000)
('Buick', 16000)

In [85]:
for nome, preco in carros_precos:
    print(f'O carro {nome} custa R$ {preco}')

O carro Opala custa R$ 7000
O carro Santana custa R$ 9000
O carro Buick custa R$ 16000

In [91]:
carros_precos_zip = zip(carros, precos)
for nome, preco in carros_precos_zip:
    print(f'O carro {nome} custa R$ {preco}')

O carro Opala custa R$ 7000
O carro Santana custa R$ 9000
O carro Buick custa R$ 16000